{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
       <title>My Cart</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body >

     <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-cart</a>
    <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'category_list' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'cart' %}">Cart</a>
  </li>
  
</ul>
  </div>
</nav>


    <div class="container mt-4">
      <h2 class="text-center text-primary mb-4">Your Shopping Cart</h2>

      {% if cart_items %}
        <ul class="list-group">
          {% for item in cart_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <strong>{{ item.product.name }}</strong><br />
                Price: ₹{{ item.product.price }} |
                Quantity: {{ item.quantity }} <br />
                <strong>Total: ₹{{ item.total_price }}</strong>
              </div>

              <div>
                <form method="post" action="{% url 'additem' item.id %}" style="display:inline;">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-outline-primary">+</button>
                </form>

                <form method="post" action="{% url 'removeitem' item.id %}" style="display:inline;">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-outline-danger">-</button>
                </form>
              </div>
            </li>
          {% endfor %}
        </ul>

        <div class="text-end mt-3">
          <h5>Total Amount: ₹{{ total }}</h5>
          <a href="{% url 'create_order' %}" class="btn btn-success mt-2">Proceed to Buy</a>
        </div>
      {% else %}
        <div class="text-center mt-5">
          <p class="text-muted fs-5">Your cart is empty!</p>
          <a href="{% url 'category_list' %}" class="btn btn-primary">Shop Now</a>
        </div>
      {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
