{% extends "E_commerce_app/base.html" %}
{% block title %}Category{% endblock %}


{% block content%}

 <div class="container mb-4">
      <form class="d-flex justify-content-center" method="GET" action="{% url 'search' %}">
        <input class="form-control me-2 w-50" type="search" name="q" placeholder="Search for products..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>

    <div class="container mb-5">
      <h2 class="text-center mb-4 text-primary">Shop by Category</h2>

      <div class="row g-4">
        {% for category in categories %}
          <div class="col-md-4 col-sm-6">
            <div class="card shadow-sm h-100 text-center border-0">
              {% if category.image %}
                <a href="{% url 'product_by_category' category.id %}">
                  <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}" style="width: 100%;  height: 250px; object-fit: contain;">
                </a>
              {% else %}
                <div class="card-img-top bg-secondary d-flex align-items-center justify-content-center" style="height: 200px;">
                  <span class="text-white">No Image</span>
                </div>
              {% endif %}

              <div class="card-body">
                <h5 class="card-title text-dark">{{ category.name }}</h5>
                <a href="{% url 'product_by_category' category.id %}" class="btn btn-outline-primary btn-sm mt-2">
                  View Products
                </a>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="text-center">
            <p class="text-muted">No categories available.</p>
          </div>
        {% endfor %}
      </div>
    </div>

  {% endblock %}


