{% extends "E_commerce_app/base.html" %}
{% block title %}Your Orders{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center my-4">Your Past Orders</h2>

{% if orders %}
<div class="container">
    <div class="list-group">

        {% for order in orders %}
        <a href="{% url 'orderdetail' order.id %}" 
           class="list-group-item list-group-item-action">

            <div class="d-flex justify-content-between">
                <strong>Order : {{ order.id }}</strong>
                <small>Total: ₹{{ order.total_price }}</small>
            </div>

            <small class="text-muted">
                Placed on: {{ order.created_at }}
            </small>

        </a>
        {% endfor %}

    </div>

</div>

{% else %}
<p class="text-center text-muted mt-5">You have no past orders.</p>
{% endif %}

  </div>
{% endblock %}
