{% extends "E_commerce_app/base.html" %}
{% block title %}Your Order{% endblock %}

{% block content %}
  <h3 class="mb-4">Your Order Summary</h3>

  {% if order_item %}
    <ul class="list-group mb-3">
      {% for item in order_item %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong>{{ item.product.name }}</strong><br>
            Price: ₹{{ item.product.price }} <br>
            Quantity: {{ item.quantity }}
          </div>
          <span>₹{{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>

    <p class="fw-bold text-end fs-5">Total: ₹{{ total }}</p>

    <div class="text-end mb-5">
      <a href="{% url 'shippingdetail' %}" class="btn btn-success">Proceed to Shipping</a>
    </div>
  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      No order yet!
    </div>
  {% endif %}
{% endblock %}
