{% extends "E_commerce_app/base.html" %}
{% block title %}Order detail{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center my-4">Order Detail</h2>

    <div class="list-group-item">

        <div class="d-flex justify-content-between">
            <strong>Order ID: {{ order.id }}</strong>
            <small>Placed on: {{ order.created_at }}</small>
        </div>
    
        <hr>
        {% for item in order_items %}
            <div class="d-flex justify-content-between">
                <span>{{ item.item_name }}</span>
                <span>Qty: {{ item.quantity }}</span>
                <span>₹{{ item.total_price }}</span>
            </div>

        {% empty %}
            <p>No Items found.</p>
        {% endfor %}

        <hr>
        <div class="d-flex justify-content-between">
            <strong>Total Amount:</strong>
            <strong>₹{{ total }}</strong>
        </div>
    </div>
</div>
{% endblock %}
