{% extends "E_commerce_app/base.html" %}
{% block title %}{{ category.name }} - E-cart{% endblock %}

{% block head_extra %}
    <style>
      body {
        background-color: #f8f9fa;
      }
      .navbar {
        margin-bottom: 30px;
      }
      
      .product-img {
        height: 200px;
        object-fit: cover;
      }
    </style>
{% endblock %}

{% block content %}

    <div class="container text-center mb-4">
      <h2 class="fw-bold text-primary">{{ category.name }}</h2>
      <p class="text-muted">Explore our latest products below</p>
    </div>
 
    <div class="container">
      <div class="row g-4">
        {% for product in products %}
          <div class="col-md-3 col-sm-6">
            <a href="{% url 'product_detail' product.id %}">
            <div class="card product-card h-100">
              <img src="{{ product.image.url }}" class="card-img-top product-img" alt="{{ product.name }}">
              <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text fw-bold">₹{{ product.price }}</p>
                <form method="POST" action="{% url 'add_to_cart' product.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary w-100">Add to Cart</button>
                </form>
              </div>
            </div> 
          </a>
          </div>
        {% empty %}
          <div class="text-center text-muted">No products available in this category.</div>
        {% endfor %}
      </div>
    </div>

{% endblock %}

